%div{:id => "notice_#{notice.id}", :class => :notice}
  .headimg.pull-left= show_user_portrait(notice.from_user)
  .pull-right
    = unread_notice?(notice)
    .notice_delete
      %a{:href => notice_destroy_path(notice), :class => "label delete_notice", "data-method" => "delete", "data-remote" => "true"}
        = "删除"
    - if (notice.read == false)
      = mark_one_read_button(notice)
    - else
      = mark_one_unread_button(notice)
  .notice_infos
    .notice_info
      = notice_title_info(notice)
  .notice_content
    = notice_content(notice)