%div{:id => "notice_#{notice.id}", :class => :notice}
  .headimg.pull-left= show_user_portrait(notice.from_user, :size => 56, :link => true, :popdetail => true)
  .pull-right
    = new_notice?(notice)
    .notice_delete
      %a{:href => notice_destroy_path(notice), :class => "label delete_notice", "data-method" => "delete", "data-remote" => "true"}
        = "删除"
    - if (notice.read == false)
      = mark_one_read_button(notice)
    - else
      = mark_one_unread_button(notice)
  .notice_infos
    .notice_info
      %span.from_name
        = user_link(notice.from_user)
      = "在"
      %span.resource_title
        = link_to notice.notice_resource.resource.name, notice.notice_resource.resource
      = "中提及你："
  .notice_content
    = markdown(notice.notice_resource.content)