= content_header(itext("register"))
= form_for @user, :url => register_path, :html => { :class => "form-horizontal", :id => :register } do |form|
  = error_messages_for @user
  %fieldset
    = form.input_text_field       :email
    = form.input_text_field       :account
    = form.input_password_field   :password
    = form.input_password_field   :password_confirmation
  = form_button itext('register'), :class => "btn-success"
