<tr class="reply">
<td class="avatar">
  <%= reply_editor_avatar reply%>
</td>
<td>
<article>
<header class="clearbox">
<div class="left">
<%= link_to reply.replier.nickname, user_path(reply.replier) %>
</div>  
<div class="right">
<%= time_ago reply.created_at %>
<% if can? :update, reply %>
<%= link_to content_tag(:i, "", :class => "icon-edit"), edit_reply_path(reply)%>
<% end %>
<a href="#new_reply" class="at" data-user-name="Rei"><i class="icon-pencil"></i></a>
</div>
</header>
<%= markdown(reply.content)%>
</article>
</td>
</tr>