.reply{:id => "reply" + reply.floor_num.to_s}
  .pull-left.face
    = reply_editor_avatar reply
  .reply_infos
    .reply_info
      %span.name
        = link_to reply.fonder.nickname, user_path(reply.fonder)
      %span.time
        = time_ago reply.created_at
        = itext("reply.floor", :floor => reply.floor_num)
        - if can? :update, reply
          = link_to itext("edit"), edit_reply_path(reply)
        = link_to "#new_reply", :class => "at", "data-user-name" => reply.fonder.nickname, "data-reply-floor" => reply.floor_num do
          %i.icon-pencil
    .reply_body
      = markdown(reply.content)
