<div class="panel panel-default">
    <div class="panel-heading">

        <div class="print_format_show">
            <span>
                <% if print_item.format.present? %>
                    <%= print_item.format %>
                <% end %>
            </span>
            <%= link_to "修改打印格式", '#', class: "edit_print_format btn btn-link" %>
            <div class="pull-right">
                <%= link_to "-", print_item_path(print_item.print, print_item), class: "btn btn-default"%>
                <%= link_to "X", print_item_path(print_item.print, print_item), id: :delete_print_item, method: :delete, remote: true, class: "btn btn-danger"%>
            </div>
        </div>

        <div class="print_format_edit" style="display: none;">
            <%= form_for print_item, :url => print_item_path(print_item.print, print_item), remote: true, method: :put do |f| %>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="print_item_paper_size">纸张大小</label>
                        <%= f.select :paper_size, PrintItem::PAPER_SIZE, {}, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">起始页</label>
                        <%= f.text_field :start_page, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">结束页</label>
                        <%= f.text_field :end_page, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">板式</label>
                        <%= f.text_field :style, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">单面/反正面</label>
                        <%= f.text_field :single_page, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="exampleInputPassword1">份数</label>
                        <%= f.text_field :copies, class: "form-control"%>
                    </div>
                </div>
                <div class="form-group">
                    <%= f.text_field :memo, class: "form-control", placeholder: "其他要求请在这里填写" %>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">修改</button>
                    <button type="button" class="btn btn-default cancel_edit">取消</button>
                </div>
            <% end %>
        </div>

    </div>
    <div class="panel-body">
        <%= form_for print_item.files.new, url: print_item_files_path(print_item.print, print_item), :html => { :multipart => true, :class => "fileupload"  } do |f| %>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="fileupload-buttonbar">
                <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-default fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span>添加文件</span>
                        <input id="print_file_url" multiple="multiple" name="print_file[url]" type="file">
                    </span>
                </div>
                <div class="span5">
                    <!-- The global progress bar -->
                    <div class="progress progress-success progress-striped active fade">
                        <div class="bar" style="width:0%;"></div>
                    </div>
                </div>
            </div>
            <!-- The loading indicator is shown during image processing -->
            <div class="fileupload-loading"></div>
            <br>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
            </table>
        <% end %>
    </div>
</div>