.page-header
  %h3
    新建打印订单
- if @uncompleted_print
  %p
    少侠！发现您有尚未完成的打印订单！
  %p
    .panel.panel-default
      .panel-heading
        = @uncompleted_print.print_house
        ，最迟完成时间
        = short_time @uncompleted_print.deadline
      .panel-body
        - if @uncompleted_print.items.blank?
          没有任何打印条目

        - @uncompleted_print.items.each do |item|
          %h4= item.format
          %ul
            - if item.files.blank?
              没有文件
            - item.files.each do |file|
              %li
                %span.glyphicon.glyphicon-file
                = file.name

  %p
    你可以选择，继续
    = link_to @uncompleted_print, class: "btn btn-primary btn-xs" do
      %span.glyphicon.glyphicon-edit
      编辑
    这个订单，或者不想要了，
    = link_to @uncompleted_print, class: "btn btn-danger btn-xs", confirm: "确认删除？", method: :delete do
      %span.glyphicon.glyphicon-trash
      删除
    之

- else
  = form_for current_user.prints.new, :html => { class: "form-inline" } do |f|
    .form-group
      = f.select :print_house_id, PrintHouse.all.collect {|p| [ p.name, p.id ] }, {}, class: 'form-control'
    .form-group
      = f.text_field :deadline, class: 'form-control', required: true, placeholder: "选择最后截止日期", style: "cursor: pointer;"
    .form-group
      %button.btn.btn-success{type: :submit} 提交

.page-header
  %h3
    已经提交的打印订单
%table.table.table-condensed
  %thead
    %th 打印社
    %th 最迟完成时间
    %th 打印状态
  %tboday
    - if @prints.blank?
      %tr
        %td 暂无记录
    - @prints.each do |print|
      %tr{class: print.is_printed ? "success" : "active"}
        %td= print.print_house
        %td= print.completed_at
        %td= print.is_printed ? '已完成' : '待打印'