<div class="page-header">
  <h3><%= @print.print_house.name %>，截至日期<%= short_time @print.deadline %></h3>
</div>

<div id="print_items">
    <% @print.items.each do |item| %>
        <%= render partial: 'prints/print_item', locals: { print_item: item } %>
    <% end %>
</div>
<%= link_to print_items_path(@print), id: :add_print_item, class: 'btn btn-default', :remote => true, method: :post do %>
    <span class="glyphicon glyphicon-plus-sign"></span>
    添加一组文件
<% end %>

<div class="pull-right">
    <%= link_to complete_print_path(@print), class: 'btn btn-success', confirm: "请确认打印信息，一旦提交，便不可再修改。不包含打印文件的打印项，将会被移除。确定要提交订单么？", method: :put do %>
        <span class="glyphicon glyphicon-ok-circle"></span>
        提交订单
    <% end %>
    <%= link_to print_path(@print), class: 'btn btn-danger', confirm: "确认删除？", method: :delete do %>
        <span class="glyphicon glyphicon-remove-sign"></span>
        删除订单
    <% end %>
</div>

<div class="page-header">
  <h3>使用帮助</h3>
</div>

<div class="bs-callout bs-callout-info">
  <h4>什么是一组文件</h4>
  <p>每组文件对应着一种打印格式。打印社会按照这个打印格式打印这个组下所有的文件。</p>
</div>

<div class="bs-callout bs-callout-info">
  <h4>为什么我提交了订单，还是返回了这里？</h4>
  <p>您有可能提交了一个没有任何有效打印文件的订单，所以请查看您是否上传了有效的文件。</p>
</div>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade {% if (file.error) { %} danger {% } %}">
            <td class="preview"><span class="glyphicon glyphicon-file"></span></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2">
                {% if (file.error) { %}
                    {%= fileUploadErrors[file.error] || file.error%}
                {% } else if (o.files.valid && !i) { %}
                    <div class="progress progress-striped active">
                        <div class="bar" style="width:0%;"></div>
                    </div>
                {% } %}
            </td>
            <td class="cancel">
                {% if (!i) { %}
                    <button class="btn btn-warning">
                        <i class="icon-ban-circle icon-white"></i>
                        <span>取消</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
             {% if (file.error) { %}
                <td>
                    <span class="glyphicon glyphicon-file"></span>
                </td>
                <td class="name">
                    <span>{%=file.name%}</span>
                </td>
                <td class="size">
                    <span>{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td class="error" colspan="2">
                    <span class="label label-important">{%= locale.fileupload.error%}</span>
                    {%= file.error%}
                </td>
            {% } else { %}
                <td class="preview">
                    <span class="glyphicon glyphicon-file"></span>
                </td>
                <td class="name">
                    {%=file.name%}
                </td>
                <td class="size">
                    <span>{%=o.formatFileSize(file.size)%}</span>
                </td>
                <td colspan="2"></td>
            {% } %}
            <td class="delete">
                <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <i class="icon-trash icon-white"></i>
                    <span>删除</span>
                </button>
            </td>
        </tr>
    {% } %}
</script>