.box
  = form_for(resource, :as => resource_name, :url => users_edit_password_path, :html => { :method => :put }) do |f|
    = form_error_messages(resource)
    %table{:border => "0", :cellpadding => "5", :cellspacing => "0"}
      %tr
        %td{:align => "right", :width => "80"} 密码
        %td{:align => "left", :width => "400"}= f.password_field :password, :size => 30
      %tr
        %td{:align => "right", :width => "80"} 确认密码
        %td{:align => "left", :width => "400"}= f.password_field :password_confirmation
      %tr
        %td{:align => "right", :width => "80"}
          当前密码
        %td{:align => "left", :width => "600"}
          = f.password_field :current_password
          (我们需要您的当前密码来确认操作)
      %tr
        %td{:align => "right", :width => "80"}
        %td{:align => "left", :width => "400"}= f.submit "修改"
  = render "links"
