<div class="box">


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= form_error_messages(resource) %>
  <%= text_field_tag :email, nil, type: :hidden, value: @email %>
  <%= text_field_tag :token, nil, type: :hidden, value: @token %>
<table cellpadding="5" cellspacing="0" border="0">

<tr>
<td width="80" align="right">邮箱</td>
<td width="400" align="left"><%= @email%></td>
</tr>

<tr>
<td width="80" align="right">昵称</td>
<td width="400" align="left"><%= f.text_field :nickname %></td>
</tr>

<tr>
<td width="80" align="right">校区</td>
<td width="400" align="left"><%= f.select :campus, %w(前卫校区 南岭校区 新民校区 朝阳校区 南湖校区 和平校区) %></td>
</tr>

<tr>
<td width="80" align="right">密码</td>
<td width="400" align="left"><%= f.password_field :password, :size => 30%></td>
</tr>

<tr>
<td width="80" align="right">确认密码</td>
<td width="400" align="left"><%= f.password_field :password_confirmation %></td>
</tr>
<tr>
<td width="80" align="right"></td>
<td width="400" align="left"><%= f.submit "注册" %></td>
</tr>

</table>
<% end %>

<%= render "links" %>
</div>