<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :nickname %>
  <%= f.text_field :nickname %></div>

  <div><%= f.label :campus %>
  <%= f.text_field :campus %></div>

  <div><%= f.label :department %>
  <%= f.text_field :department %></div>

  <div><%= f.label :major %>
  <%= f.text_field :major %></div>

  <div><%= f.label :grade %>
  <%= f.text_field :grade %></div>

  <div><%= f.label :renren %>
  <%= f.text_field :renren %></div>

  <div><%= f.label :qq %>
  <%= f.text_field :qq %></div>

  <div><%= f.label :idiograph %>
  <%= f.text_field :idiograph %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>