<div class="box">
<ul class="nav nav-list">
  <li class="nav-header">用户管理</li>
  <li><a href="/admin/users"><i class="icon-book"></i>用户概况</a></li>
  <li><a href="#"><i class="icon-pencil"></i>用户锁定</a></li>
  <li class="divider"></li>
  <li class="nav-header">tag管理</li>
  <li><%= link_to content_tag(:i, "", :class => "icon-list") + "tag概况", admin_tags_path %></li>
  <li><%= link_to content_tag(:i, "", :class => "icon-list") + "添加tag", new_admin_tag_path %></li>
  <li class="divider"></li>
  <li class="nav-header">topic管理</li>
  <li><%= link_to content_tag(:i, "", :class => "icon-list") + "topic概况", admin_topics_path %></li>
  <li><%= link_to content_tag(:i, "", :class => "icon-list") + "topic置顶", admin_topics_path %></li>
  <li class="divider"></li>
  <li class="nav-header">entry管理</li>
  <li><%= link_to content_tag(:i, "", :class => "icon-list") + "entry概况", admin_entries_path %></li>
  <li class="divider"></li>
</ul>
</div>
