.userinfo
  .pull-right
    = show_user_portrait(@user, :size => 120, :popdetail => true)
  = render_user_level_tag(@user)
  %ul
    %li
      %span
      = itext("user.user_number", :id => @user.id)
    %li
      %span= itext("user.user_name")
      %strong= @user.nickname
    %li
      %span= itext("user.user_campus")
      - if @user.campus
        = link_to @user.campus, location_users_path(@user.campus)
      - else
        = link_to itext("user.unkownpalce"), location_users_path(itext("user.unkownpalce"))
    %li
      %span= itext("user.user_join_time")
      = I18n.l(@user.created_at.to_date, :format => :long)
    %li
      %span= itext("user.user_idiograph")
      - if @user.idiograph
        = @user.idiograph
      - else
        = itext("user.lazy")