%ul.nav.pull-right
  %li.divider-vertical
  - if current_user
    = notifications
    %li#account_tab_button.dropdown
      %a
        = itext("welcome", :name => current_user.nickname)
        = tag(:img, :alt => '', :src => gravatar(current_user.email), :id => "portrait_top_bar")
      #account_tab.dropdown-menu
        .row-fluid.show-grid
          .span4
            = tag(:img, :alt => '', :src => gravatar(current_user.email), :id => "popup_tab_portrait")
          .span4
            %ul.unstyled
              = content_tag(:li, content_tag(:span, current_user.nickname))
              = content_tag(:li, content_tag(:span, current_user.email))
              = content_tag(:li, content_tag(:a, itext("edit_profile"), :href => edit_user_registration_path))
              - if current_user.level == 3
                = content_tag(:li, content_tag(:a, itext("admin_panel"), :href => rails_admin_path))
              = content_tag(:li, content_tag(:a, itext("logout"), :href => destroy_user_session_path, "data-method" => :delete))
  - else
    = content_tag(:li, content_tag(:a, itext("register"), :href => new_user_registration_path))
    = content_tag(:li, content_tag(:a, itext("login"), :id => :login_top_button, :login_url => login_dialog_path))