<div class="well" id="entry_show">
  <%= show_entry_functional_bar @entry%>
  <%= show_entry_inner_catalog %>
  <%= show_entry(@entry) %>
  <%= show_entry_contributors @entry%>
  <% @resource = @entry %>
  <%= content_tag :i, "", :id => "with_catalog" if @entry.catalog%>
</div>
<%= render "/replies/replies" %>
<%= render "/replies/reply_field" %>
<%= javascript_include_tag "http://v2.jiathis.com/code/jia.js?uid=1562818" %>
