<div class="well" id="entry_show">
  <%= show_entry_functional_bar @entry%>
  <%= show_entry_inner_catalog %>
  <%= show_entry(@entry) %>
  <%= show_entry_contributors @entry%>
</div>
<%= render "entry_replies"%>
<%= render "entry_reply_field"%>
<%= javascript_include_tag "http://v2.jiathis.com/code/jia.js?uid=1562818" %>