<section class="box" id="entry_show">
  <span><%= show_entry_share_buttons%></span>
  <header>
  <table>
  <tr>
  <td>
  <h1><%= @entry.name%></h1>
  <span><%= show_entry_info @entry%></span>
  </td><td>
  <span><%= show_entry_tools_bar(@entry)%></span>
  </td>
  </tr>
  </table>
  </header>
    <%= markdown(@entry.content) %>
    <%= show_entry_contributors @entry%>
    <% @resource = @entry %>
    <%= content_tag :i, "", :id => "with_catalog" if @entry.catalog%>
</section>
<%= render "/replies/replies" %>
<%= render "/replies/reply_field" %>
<%= javascript_include_tag "http://v2.jiathis.com/code/jia.js?uid=1562818" %>

