<div class="box">
  <a class="btn btn-success" href=<%= new_topic_path%>><%= itext('topic.new')%></a>
</div>

<%= side_bar_items_list(top_topics, "置顶话题")%>
<%= side_bar_items_list(hot_topics, "热门话题")%>
<%= side_bar_items_list(no_reply_topics, "暂无回复话题")%>

<div class="box">
  <%= render_info_statistics%>
</div>