<div class="box">
  <a class="btn btn-success" href=<%= new_topic_path%>><%= itext('topic.new')%></a>
</div>

<div class="box">
<h4>置顶话题</h4>
<%= top_topics%>
</div>

<div class="box">
<h4>热门帖子</h4>
<%= hot_topics%>
</div>


<div class="box">
  <%= render_info_statistics%>
</div>