.topic.topic_line
  .pull-left.avatar
    = show_user_portrait_link(topic.fonder)
  .right_info
    .pull-right.repiles
      = "1"
    .infos
      .title= show_topic_title_link(topic)
      .topic_leader= show_topic_leader(topic)
      .topic_time= "16"