<div class="box no-padding">
<table class="item-list">
<tbody>
<% @topics.each do |topic|%>
<tr id="topic">
<td class="avatar">
<%= link_to tag(:img, :alt => '', :src => gravatar(topic.fonder.email,48)), topic.fonder%>
</td>
<td>
<h3>
<%= link_to topic.name, topic%>
</h3>
<div class="info">
<% topic.tags.each do |tag|%>
<span class="tags">
<%= link_to tag.name, tag %>
</span>
<% end %>
<span class="author">
<%= link_to topic.fonder.nickname, topic.fonder%>
</span>
<span class="time">
创建于
<%= time_ago(topic.created_at)%>
</span>
</div>
</td>
<td class="reply-count last">
</td>
</tr>
<% end %>
<tr><td>
<%= will_paginate @topics, :class => ""%>
</td></tr>
</tbody>
</table>
</div>
<%= render "community/tags"%>
