<div class="box">
<%= render_breadcrumb %><br>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<table cellpadding="5" cellspacing="0" border="0">
<tr>
<td width="80" align="right">邮箱</td>
<td width="400" align="left"><%= f.email_field :email %></td>
</tr>

<tr>
<td width="80" align="right">密码</td>
<td width="400" align="left"><%= f.password_field :password %></td>
</tr>

<% if devise_mapping.rememberable? -%>
<tr>
<td width="80" align="right"></td>
<td width="400" align="left"><%= f.check_box :remember_me %>记住我</td>
</tr>
<% end -%>

<tr>
<td width="80" align="right"></td>
<td width="400" align="left"><%= f.submit "登录" %></td>
</tr>

</table>
<% end %>

<%= render "links" %>
</div>