%h2.page-header
  = itext('login')
= notice_message
= show_model_form(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |form|
  = form.show_email_input(:email)
  = form.show_password_input(:password)
  = form.show_check_box_input(:remember_me)
  = content_tag(:button, itext("login"), :class => "btn btn-success", :id => :login_button, :type => :button, "data-loading-text" => itext("loging"), :url => session_path(resource_name))