<%= form_for @photo do |f| %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
    
    <% if params[:action] != "edit" %>
    <%= f.text_field :img_url %>
    <%= f.file_field :img_url %>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
