<div class="box">


<%= simple_form_for @photo do |f| %>
  <%= form_error_messages(@photo)%>
  <div class="control-group">
    图片描述：
    <%= f.text_field :description %>
  </div>
    <% if params[:action] != "edit" %>
    <%= f.file_field :img_url %>
    <% end %>

  <div class="actions">
    <%= f.submit "确认" %>
  </div>
<% end %>

</div>