<%= javascript_include_tag    "editor" %>
<%= form_for @topic, :html => {:class => "form-horizontal"} do |form|%>
  <div class="control-group">
    标题：
    <%= form.text_field :name %>
  </div>
  <div class="control-group">
    <div class="text-content-area">
      节点：（输入与话题相关的节点名字，比如“校区”）
      <%= form.text_field :tag_string, :data => {:suggest => Tag.suggest_tags} %>
    </div>  
  </div>
  <div class="control-group">
    <div id="editor-button-bar"></div>
    <div class="text-content-area">    
      <%= form.text_area :content, :id => 'editor-input', :rows => 10, :style => "height: 370px;"%>
    </div>
    <div id="editor-preview"></div>
  </div>
  <%= content_tag(:button, itext("submit"), :class => "btn btn-success", :type => :submit) %>
<% end %>