.box
  #tag_info
    %h1
      = index_header
      #logo.pull-right= itext("logo")
  .topics
    - @topics.each do |topic|
      = render :partial => "community/topic_line", :locals => {:topic => topic}
= will_paginate(@topics)
= render :partial => "community/tag_nav"
  