.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = navigation_for_device
      = link_to 'JLU-Zone', '/', class: :brand
      .nav-collapse
        %ul.nav
          %li= link_to '社区', topics_path
          %li= link_to '我要打印', prints_path
        = render "users/user_functional_bar"
/ .nav_top
/   .band
/     %a{:href => "/"}="JLU-Zone"
/ %ul.nav_items
/   %li= link_to '首页', '/'
/   %li= link_to '社区', topics_path
/   %li= link_to '我要打印', prints_path
/ .notice
/   %a{:href => "#notice"}="消息"
/ .user_func