!!! Strict
%html
  %head
    %title= itext('logo')
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "colorbox"
    = javascript_include_tag "application"
    = javascript_include_tag "colorbox"
    = csrf_meta_tags
  %body
  = yield
  /.navbar.navbar-fixed-top
  /     .navbar-inner
  /       .container-fluid
  /         = wiki_logo
  /         .pull-right
  /           = user_navigation
  /         .pull-left
  /           /= wiki_tabs_navigation    
  /         /= wiki_search
  /   .container
  /     /= content_notice
  /     
  /     %hr
  /     %footer.footer
  /       /= footer
 
