!!! Strict
%html
  %head
    %title= itext('logo')
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "content-type" }
    %meta{ :name => :viewport, :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{"data-spy" => "scroll", "data-target" => ".subnav", "data-offset" => "50"}
    = back_to_top
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = navigation_for_device
          = wiki_logo
          .nav-collapse
            = user_navigation
    .container#page
      .subnav
        %ul.breadcrumb
          = entry_catalog_list_navigation(@navigation_category)
          //= show_base_categories      
      .row
        .span9
          = content_notice
          =yield
        .span3
          =render "/side_bar"
    = login_dialog
